* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.imagemParticipante {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 6px;
}

header .top {
  background-color: #6533e2;
  display: flex;
  align-items: center;
  position: relative;
}

header .top h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

header .bottom {
  position: relative;
}

header .bottom__participantes {
  position: absolute;
  top: 40px;
}

header .bottom__participantes img {
  box-shadow: 1px 8px 10px 10px #fff;
}
